body{
    background: gray;
}

#tittle, .subtittle, .post_tittle {
  color: blue  
}

.post_tittle {
    font-size: 16px;
    font-style: italic;
}


.post {
    background: #fff;
    padding: 14px;
    border: 3px solid black;  
}